<h1><%= @dojo.branch %>'s: <%= @student.first_name + ' ' + @student.last_name %></h1>
<small> Contact him: <%= @student.email %></small>

<h4><%= @student.first_name %>'s Cohort</h4>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @dojo.students.each do |student| %>
    <!--  Is there a better way to do this? -->
      <% if student.id != @student.id %>
        <tr>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.email %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
