<%= form_for([@dojo, @student]) do |f| %>
  <%= render 'shared/errors', object: @student %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :dojo %>
    <%= f.collection_select :dojo, Dojo.all, :id, :branch, selected: @dojo.id %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
