<h1>Dojo: <%= @dojo.branch %></h1>
<h4>Address</h4>
<%= @dojo.street %>
<%= @dojo.city %>
<%= @dojo.state %>

<h4>Student Roster</h4>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @dojo.students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.email %></td>
        <td>
          <%= link_to 'Show', [@dojo, student] %> | <%= link_to 'Edit', edit_dojo_student_path(@dojo.id, student.id) %>
          <%= link_to 'Destroy', [@dojo, student],
            data: {:confirm => 'Are you sure?'}, :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/dojos/<%=@dojo.id%>/students/new">Create a Student</a>
