<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for @user do |f| %>
  <% if @user.errors %>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit 'Create User'%>
<% end %>
