<h1>Surveys#new</h1>
<p>Find me in app/views/surveys/new.html.erb</p>

<%= form_for :user, :url => {:action => "create"} do |f| %>
  <% if @user.errors.any? %>
    <%= @user.errors.messages %>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :location %>
    <%= f.select :location, ['IL', 'CA', 'NY', 'VA'], include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.label :language %>
    <%= f.select :language, ['Ruby', 'JS', 'Python'], include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment%>
  </div>
  <button type="submit" name="button">Submit</button>
<% end %>
